.wrap {
    padding-top: 40px;
}

/* 본문 */
.main_banner {
    width: 100%;
    height: 600px;
    background: #ffffff;

    position: relative;
}
.banner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}
.banner1 {
    background: url(../../img/theComma/main_banner/main_img_01.jpg) no-repeat center;
}
.banner2 {
    background: url(../../img/theComma/main_banner/main_img_02.jpg) no-repeat center / contain;
}
.banner3 {
    background: url(../../img/theComma/main_banner/main_img_03.jpg) no-repeat center / contain;
}
.btn_slide {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
}
#btn_slide_L {
    left: 0;
    background: url(../../img/theComma/main_banner/w_slide_prev.png) no-repeat center;
}
#btn_slide_R {
    right: 0;
    background: url(../../img/theComma/main_banner/w_slide_next.png) no-repeat center;
}

.indicator {
    display: flex;
    gap: 10px; 
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.indi {
    width: 40px;
    height: 5px;
    background-color: #8d8d8d;
    border-radius: 8px;
    transition: all 0.3s;
}
.indi_active {
    width: 80px;
    background-color: #333;
}


/********************************/
/********************************/
/* 공용 */
.sec {
    margin-top: 180px;
}
.sec_head {
    font-size: 22px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 70px;
}
.sec_body {

}
.item_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}
.item {
    margin-bottom: 100px;
}
.item_img {
    position: relative;
    overflow: hidden;
    font-size: 0;
}
.item img {
    width: 100%;
}
.item_info {
    padding: 0 5px;
    /* box-sizing: border-box; */
    
}
.item_desc_title {
    font-size: 14px;
    border-bottom: 1px solid #555;
    color: #555;
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}
.origin_price 
,.sale_price,
.item_desc {
    color: #555;
    font-size: 12px;
}

/*** 아이템 위로 올리는 용도 ***/
.item_init { 
    /* 평소에 아래로 내려놓기 */
    transform: translateY(100px);
    transition: all 0.3s ;
    transition-timing-function: linear;
    opacity: 0;
}
.item_init_active {
    /* 위로 올리기 */
    transform: translateY(0);
    opacity: 1;
}



/* WEEKLY RANKING */ 
.w_ranking_item_li {
    width: calc((100% - (10px * 5)) / 6);
    position: relative;
}
.ranking_num {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;

    position: absolute;
    right: 15px;
    top: 15px;
}

/* BEST ITEM */
.best_item_li {
    width: calc((100% - (10px * 3)) / 4); 
}
#best .item_img img {
    transition: all 0.3s;
}
#best .item_img img:hover {
    transform: scale(1.2);
} 


/* NEW 5% */
.new_item_li {
    width: calc((100% - (10px * 3)) / 4); 
}
#new .item_img img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 0;

    opacity: 0;
    transition: all 0.3s;
}
#new .item_img img:hover {
    opacity: 1;
} 
