/* 탑배너 */
.top_banner {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #d6cdc3;
    overflow: hidden;
    /* position: relative; */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;
}
.tb_item {
    width: 100%;
    font-size: 14px;
    /* font-weight: 900; */
    text-align: center;

    /* position: relative; */
    /* top: 0; */
    position: absolute;
    top: 100%;
    left: 0;
}

/* 레이어팝업 */
.layer_popup {
    width: 310px;
    position: fixed;
    left: 100px;
    top: 200px;
    z-index: 9999999;
    background: #fff;
}
.popup_body {
    padding: 5px;
    overflow: hidden;
}
.popup_img {
    width: 300px;
    height: 330px;
    position: relative; 
}
.p_img {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.p_img img {
    /* user-select: none;
    pointer-events: none;
    -webkit-user-drag: none; */
}
.popup_btn {
    width: calc((100% - 10px) / 3);
    height: 100px;
    
    border: 1px solid #ddd;
    box-sizing: border-box;
    float: left;
    margin-top: 5px;

    position: relative;
}
.popup_btn:nth-child(3n - 1) {
    margin-left: 5px;
    margin-right: 5px;
}
.popup_btn a {
    width: 100%;
    padding: 42px 0;
    text-align: center;
    font-size: 11px;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.popup_btn:hover {
    background: #f9f9f9;
}
.popup_footer {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #222;
    color: #fff;
    font-size: 11px;
    padding: 0 5px;
    box-sizing: border-box;
}
.btn_close_24 {
    float: left;
    cursor: pointer;
}
.btn_close {
    float: right;
    cursor: pointer;
}

/* 헤더 */
.header {
    width: 100%;
    /* height: 100px; */ 
    box-sizing: border-box;
    position: relative;
    margin-top: 40px;
    background: #fff;
}
.logo {
    width: 210px;
    /* height: 200px; */
    margin: 0 auto;
    /* float: left; */
    background: url(../../img/theComma/logo.jpg) no-repeat center / contain;
    padding: 80px 0;
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}
.menu {
    height: 50px;
    line-height: 50px;
    text-align: center;border-bottom: 1px solid #e6e6e6;
    font-size: 0;
    /* background: pink; */
}
.menu_active {
    width: 100%;
    position: fixed;
    left: 0;
    top: 40px;
    z-index: 99999999;
    background: #fff
}
.menu_item {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
}
.menu a { 
    padding: 0 40px; 
    display: block;
    /* background: red; */
}
.pan {
    width: 100%;
    height: 0;
    clear: both;
    background: lavender;
    transition: all 0.5s;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999999;
}
.pan_active { height: 400px; }
.pan_item {
    width: 100%;
    height: 100%;
    display: none;
} 
.pan_item_active {
    display: block;
}
.pan1 {
    width: 800px;
    background: lawngreen;
}
.pan2 {
    width: 1200px;
    background: lightcoral;
}
.pan3 {
    width: 600px;
    background: tomato;
}
.pan4 {
    width: 1200px;
    /* background: silver; */
}
#pan4_L {
    width: 400px;
    height: 100%;
    float: left;
    background: yellowgreen;
}
#pan4_R {
    width: 400px;
    height: 100%;
    float: right;
    background: yellow;
}

.wrap {
    width: 100%;
    min-width: 1200px;
}


/* 푸터 */
.footer {
    width: 100%;
    overflow: hidden;
    background: #eee;
    color: #303030;
    font-size: 12px;
    line-height: 22px;
    padding: 50px 0;
}
.f_body {
    float: left;
}
.company_info {
    width: 420px;
}
.cs_center {
    width: 180px;
    margin: 0 90px;
}
.cs_center>.f_title:last-of-type {
    margin-top: 20px;
}
.addr {
    width: 410px;
}
.f_title {
    margin-bottom: 5px;
    
}
.f_title > span {
    border-bottom: 1px solid;
    padding: 3px 0;
}
.footer p {
    margin: 0;
    padding: 0;
}